
<h3 class="text-info">Ventas:</h3>
<br>
<table class="table table-responsive-md">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cod.</th>
      <th scope="col">Category</th>
      <th scope="col">Detail</th>
      <th scope="col">Value</th>
      <th scope="col">Discount</th>
      <th scope="col">Tax</th>
      <th scope="col">Total</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.id %></td>
      <td><%= sale.cod %></td>
      <td><%= sale.category %></td>
      <td><%= sale.detail %></td>
      <td><%= sale.value %></td>
      <td><%= sale.discount %></td>
      <td><%= sale.tax %></td>
      <td><%= sale.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= link_to 'Ingresar venta', sales_new_path, class: 'btn btn-outline-success' %>
</div>