<div class="row d-flex justify-content-center my-3">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <h3 class="text-info">Formulario</h3>
    <%= form_with model: @sale, local: true do |f| %>
      <div class="form-group">
        <%= f.label :cod, 'Código' %>
        <%= f.number_field :cod, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :detail, 'Detalle' %>
        <%= f.text_area :detail, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category, 'Categoría' %>
        <%= f.number_field :category, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :value, 'Valor' %>
        <%= f.number_field :value, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :discount, 'Descuento' %>
        <%= f.number_field :discount, class: 'form-control' %>
      </div>

      <div class="form-group form-check">
        <%= f.check_box :tax, class: 'form-check-input' %>
        <%= f.label :tax, 'IVA', class: 'form-check-label' %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.submit 'Ingresar Venta', class: 'btn btn-outline-info' %>
        <%= link_to 'Ventas', root_path, class: 'btn btn-outline-success' %>
      </div>
    <% end %>
  </div>
</div>